In [1]:
# 시도별 전출입 인구수를 읽어서 df에 저장
# 1. 전입자별이 '전국'인 데이터만 추출 df_전국
# 2. 처음행은 컬럼, 2번째 행은 제거

In [2]:
import pandas as pd
import numpy as np
df = pd.read_excel('./data/시도별 전출입 인구수.xlsx', header=0).loc[1:]
df_전국 = df[df.전입지별 == '전국'].replace('-',0)
df_전국

,전출지별,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
1,전국,전국,4046536,4210164,3687938,4860418,5297969,9011440,6773250,7397623,...,8808256,8487275,8226594,8127195,7506691,7411784,7629098,7755286,7378430,7154226
19,서울특별시,전국,1448985,1419016,1210559,1647268,1819660,2937093,2495620,2678007,...,2083352,1925452,1848038,1834806,1658928,1620640,1661425,1726687,1655859,1571423
37,부산광역시,전국,376059,328367,319360,414661,554013,694445,629165,696120,...,549106,549094,547800,532906,481652,496161,500802,520591,480407,467471
55,대구광역시,전국,0,0,0,0,0,0,0,0,...,422676,411288,382657,383310,359206,363224,365739,364364,337488,333118
73,인천광역시,전국,0,0,0,0,0,0,0,0,...,556166,476071,458439,470758,440872,439578,442973,463685,435869,411135
91,광주광역시,전국,0,0,0,0,0,0,0,0,...,268310,290771,265043,259282,230437,229288,246043,233875,221074,216256
109,대전광역시,전국,0,0,0,0,0,0,0,0,...,269142,258182,263477,260900,239136,230547,248397,241390,229883,227624
127,울산광역시,전국,0,0,0,0,0,0,0,0,...,177756,164984,164671,163091,157427,157185,173229,170473,155812,147116
145,세종특별자치시,전국,0,0,0,0,0,0,0,0,...,0,0,0,0,15291,15109,23070,30950,35236,47383
163,경기도,전국,353535,412098,382945,454426,484597,825258,645942,753564,...,2094988,2081528,2026383,1986623,1862209,1821303,1834379,1898312,1824976,1772162
181,강원도,전국,197181,218958,192371,277465,233685,386575,281828,291783,...,250883,247373,241183,231424,225184,214931,226284,222352,221592,209618
199,충청북도,전국,147916,156593,124530,156909,166708,324499,213011,220085,...,237759,230351,229707,220515,207622,212860,213577,213188,197668,194915
217,충청남도,전국,240241,255973,212546,277908,268495,562558,344295,384884,...,339765,317511,301675,302546,277346,268053,279817,279680,271446,269337
235,전라북도,전국,228126,240338,190364,238830,245518,505510,323710,353025,...,333045,318943,308237,306290,275126,260395,276900,264662,252607,239253
253,전라남도,전국,263908,329442,259182,360474,397292,705568,497144,537331,...,291224,288476,275661,266461,244080,246635,260874,246168,237337,230551
271,경상북도,전국,470142,528111,533098,630214,612614,1324401,798110,916540,...,377397,375551,358127,358695,340222,330983,338029,345307,318803,316642
289,경상남도,전국,299797,298292,244230,341498,413442,631217,482042,509366,...,474327,474110,478709,469223,417328,423864,456164,450279,410180,409200
307,제주특별자치도,전국,17705,22976,18753,28762,34753,60840,43315,51682,...,82360,77590,76787,80365,74625,81028,81396,83323,92193,91022